html{
    max-height: auto;
    max-width: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: auto;
}

body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow: auto;
}
.bg-1 {
    background-color: rgb(131, 200, 218);
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: rgb(32, 85, 119);
  }
  
  .navbar-nav :hover {
    color: #ecb723 !important;
  }

.toplayer{
    width: auto;
    height: auto;
    z-index: 999;
    opacity: 0.5;
    position: relative;
    overflow: auto;
}

.mainlayer{
    margin:auto;
    width: auto;
    height: auto;
    overflow: auto;
    position: relative;
}

.IP-9_2048{
    width:32%;
    font-size: 80px;
    font-weight: bold;
    color: orange;
    float: left;
    position: relative;
    background-color: black;
}

.scores{
    width: 40%;
    padding:10px;
    margin-top:10px;
    float:right;
    background: white;
    color: black;
    position: relative;
}

 #Score{
     font-size: 48px;
 }
 
.container {
    height: auto;
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  #overlay {
    position: absolute; /* Sit on top of the page content */
    width: auto; /* Full width (cover the whole page) */
    height: auto; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
  }
  .block {
    display: block;
    width: 100%;
    font-size: 48px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
  }
  .cell {
    color: gold;
    height: fit-content;
    width: fit-content;
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
    border-style: solid;
    border-color: white;
  }
  .cell-1 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-2 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-3 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-4 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-5 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-6 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-7 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-8 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-9 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-10 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-11 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-12 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-13 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-14 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-15 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-16 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }

  div{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.num0{
  background: white;
  color: darkred;
  font-size: 90px;
  transition:all .5s ease;
  -moz-transition:all .5s ease;
  -webkit-transition:all .5s ease; 
  animation: anim1 .5s;
  -moz-animation: anim1 .5s;
  -webkit-animation: anim1 .5s;
}

.num2{
    background: white;
    color: greenyellow;
    font-size: 90px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num4{
    background: white;
    color: yellow;
    font-size: 90px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num8{
    background: white;
    color: red;
    font-size: 90px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num16{
    background: white;
    color: blue;
    font-size: 75px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num32{
    background: white;
    color: violet;
    font-size: 75px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num64{
    background: white;
    color: hotpink;
    font-size: 75px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num128{
    background: white;
    color: blue;
    font-size: 60px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num256{
    background: white;
    color: darkmagenta;
    font-size: 60px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num512{
    background: white;
    color: darkorange;
    font-size: 60px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num1024{
    background: white;
    color: darkorchid;
    font-size: 50px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num2048{
    background: lightskyblue;
    color: darkred;
    font-size: 50px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num4096{
    background: lightskyblue;
    color: fuchsia;
    font-size: 50px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num8192{
    background: lightskyblue;
    color: brown;
    font-size: 50px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num16384{
    background: lightskyblue;
    color: navy;
    font-size: 40px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num32768{
    background: lightskyblue;
    color: darkcyan;
    font-size: 40px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num65536{
    background: darkred;
    color: darkgrey;
    font-size: 40px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

.num131072{
    background: darkred;
    color: black;
    font-size: 28px;
    transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease; 
    animation: anim1 .5s;
    -moz-animation: anim1 .5s;
    -webkit-animation: anim1 .5s;
}

@keyframes anim1{
    0%{opacity: 0;transform:scale(0)}
    50% {opacity: .5;transform:scale(1.5)}
    100%{opacity: 1;transform:scale(1)}
}

@-moz-keyframes anim1{
    0%{opacity: 0;-moz-transform:scale(0)}
    50% {opacity: .5;-moz-transform:scale(1.5)}
    100%{opacity: 1;-moz-transform:scale(1)}
}

@-webkit-keyframes anim1{
    0%{opacity: 0;-webkit-transform:scale(0)}
    50% {opacity: .5;-webkit-transform:scale(1.5)}
    100%{opacity: 1;-webkit-transform:scale(1)}
}

.button5{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(5, 111, 250);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
/*    text-align: top; */
    position: top;
    transition: all 0.2s;
    }
    .button5:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button5{
    display: block;
    margin: 0.4em auto;
    }
}

.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(5, 111, 250);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
/*    text-align: top; */
    position: top;
    transition: all 0.2s;
    }
    .button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button1{
    display: block;
    margin: 0.4em auto;
    }
}

.button2{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(5, 111, 250);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
/*    text-align: top; */
    position: left;
    transition: all 0.2s;
    }
    .button2:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button2{
    display: block;
    margin: 0.4em auto;
    }
}

.button3{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(5, 111, 250);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
/*    text-align: top; */
    position: right;
    transition: all 0.2s;
    }
    .button3:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button3{
    display: block;
    margin: 0.4em auto;
    }
}

.button4{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(5, 111, 250);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
/*    text-align: top; */
    position: bottom;
    transition: all 0.2s;
    }
    .button4:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button4{
    display: block;
    margin: 0.4em auto;
    }
}
