html{
    height: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow: auto;
}
.bg-1 {
    background-color: rgb(156, 209, 242);
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: rgb(156, 209, 242);
  }
  
  .navbar-nav :hover {
    color: #ecb723 !important;
  }

.toplayer{
    width: auto;
    height: auto;
    z-index: 999;
    opacity: 0.5;
    position: fixed;
}

.mainlayer{
    margin:auto;
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
}

.IP-9_2048{
    width:32%;
    font-size: 80px;
    font-weight: bold;
    color: orange;
    float: left;
    position: relative;
    background-color: black;
}

.scores{
    width: 40%;
    padding:10px;
    margin-top:10px;
    float:right;
    background: white;
    color: black;
    position: relative;
}

 #Score{
     font-size: 48px;
 }

.container {
    height: auto;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .cell {
    color: gold;
    height: fit-content;
    width: fit-content;
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
    border-style: solid;
    border-color: white;
  }
  .cell-1 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-2 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-3 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-4 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-5 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-6 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-7 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-8 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-9 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-10 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-11 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-12 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-13 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-14 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-15 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }
  .cell-16 {
    background: rgb(179, 218, 242);
    border-spacing: 1px;
    height: auto;
    width: auto;
  }

.button5{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(5, 111, 250);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
/*    text-align: top; */
    position: top;
    transition: all 0.2s;
    }
    .button5:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button5{
    display: block;
    margin: 0.4em auto;
    }
}

.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(5, 111, 250);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
/*    text-align: top; */
    position: top;
    transition: all 0.2s;
    }
    .button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button1{
    display: block;
    margin: 0.4em auto;
    }
}

.button2{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(5, 111, 250);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
/*    text-align: top; */
    position: left;
    transition: all 0.2s;
    }
    .button2:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button2{
    display: block;
    margin: 0.4em auto;
    }
}

.button3{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(5, 111, 250);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
/*    text-align: top; */
    position: right;
    transition: all 0.2s;
    }
    .button3:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button3{
    display: block;
    margin: 0.4em auto;
    }
}

.button4{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(5, 111, 250);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
/*    text-align: top; */
    position: bottom;
    transition: all 0.2s;
    }
    .button4:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button4{
    display: block;
    margin: 0.4em auto;
    }
}
